* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #7FFFD4;
    display: flex;
    justify-content: center;
}

.container {
    width: 450px;
    height: 452px;
    margin-top: 80px;
}

.box {
    border: 1px solid black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clicked {
    background-color: #6495ED;
}

.dieci {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.nove {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.sette {
    width: calc(100% / 7);
    height: calc(100% / 7);
}